{% extends 'base.html'%}
{% block content %}

<h1>Project ID -{{project.id}} Project Title - {{project.title}}</h1>
{% if project.description %}
    {{project.description}}
{% endif %}
{% if project.demo_link %}
    <a href="{{project.demo_link}}">Demo Link</a>
{% endif %}
{% if project.source_code %}
    <a href="{{project.source_code}}">Source Link</a>
{% endif %}
{% if project.project_image %}
    <img src="{{project.project_image.url}}" alt="project image">
{% endif %}
{% for tag in project.tags.all %}
<table>
    <td style="border: 1px; ">{{tag.name}}</td>
{% endfor %}

{% endblock %}